__pycache__/
*.py[cod]
*.so

.DS_Store
.ipynb_checkpoints/

runs/
.cache/
*.cache

datasets/*
!datasets/README.md

checkpoints/*
!checkpoints/README.md

*.pt
*.pth
*.onnx
*.engine
*.zip
*.tar
*.gz

wandb/
tb_logs/
*.log
